@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    
    background-image: linear-gradient(to right, rgb(248, 243, 243), rgb(247, 222, 205));
}

*{
    margin: 5px;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-size: 60px;
    font-family: 'Brush Script MT';
  }
  h2{
    font-size: 30px;
    font-family: 'Georgia';
  }
  h3 {
    font-size: 60px;
    font-family: 'Brush Script MT';
    align-content: center;
    top: -100px;
    margin-left: 600px;
    right: -100px;
  }
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 120px;
    color: rgb(240, 12, 12);
}

.button {
  border: none;
  color: white;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  justify-content: space-between;
    display: flex;
}

.button1 {
    background-color: rgb(239, 30, 93);
    color: rgb(255, 244, 244);
    border: 2px solid #c52d07;
    border-radius: 12px;
    margin-right: 250px;
    justify-content: space-between;
    display: flex;
}

.button1:hover {
    background-color: #f30404;
    color: rgb(244, 239, 239);
}

.button2 {
    background-color: rgb(238, 12, 76);
    color: rgb(255, 244, 244);
    border: 2px solid #c52d07;
    border-radius: 12px;
    margin-right: 150px;
    margin-left: 300px;
    justify-content: space-between;
    display: flex;
}

.button2:hover {
    background-color: #f30404;
    color: rgb(244, 239, 239);
}
.button3 {
    background-color: rgb(239, 30, 93);
    color: rgb(255, 244, 244);
    border: 2px solid #c52d07;
    border-radius: 12px;
    margin-right: 150px;
    margin-left: 150px;
    justify-content: space-between;
    display: flex;
  }
  
  .button3:hover {
    background-color: #f30404;
    color: rgb(244, 239, 239);
  }
  .button4 {
    background-color: rgb(238, 12, 76);
    color: rgb(255, 244, 244);
    border: 2px solid #c52d07;
    border-radius: 12px;
    margin-left: 250px;
    justify-content: space-between;
    display: flex;
  }
  
  .button4:hover {
    background-color: #f30404;
    color: rgb(244, 239, 239);
  }
  .dot1 {
    height: 120px;
    width: 56px;
    background-image:linear-gradient(to right, rgb(244, 150, 107), rgb(244, 194, 167));
    opacity: 0.5;
    border-radius: 12rem 0 0 12rem;
    display: inline-block;
    margin-left: 1448px;
    margin-top: 50px;
  }
  .dot2 {
    position: absolute;
      width: 56px;
      height: 120px;
      border-radius: 12rem 0 0 12rem;
      background-image:linear-gradient(to right, rgb(235, 91, 142), rgb(242, 173, 198));
      opacity: 0.5;
      margin-left: 1448px;
      margin-top: -40px;
  }
  .dot1:hover{
opacity:1.0;
  }
  .dot2:hover{
    opacity:1.0;
      }
      #container{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #container div{
      align-items: center;
      text-align: center;
      margin: 10px;
      width: 500px;
      
    }
    h4{
      font-size: 60px;
     font-family: 'Brush Script MT';
    }